<!doctype html>
<html lang="en">
<head>
    <title>D-SNAP Eligibility</title>
    <meta charset="utf-8">
    <style type="text/css">
        .column {
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
    <h1>D-SNAP Eligibility</h1>
    <h3> This is just a sample service, not an official one! </h3>
    <div class="row">
        <div class="column">
            <form method=POST class="main-form">
                <label for="disaster_request_no">Disaster:</label>
                <select list="disaster_list" id="disaster_request_no" name="disaster_request_no" />
                    <option value="">--Please choose an option--</option>
                    {% for disaster in disaster_list %}
                    <option value="{{ disaster.disaster_request_no }}">{{ disaster }}</option>
                    {% endfor %}
                </select>
                <br/>
                <br/>
                <fieldset>
                    <legend> Authorization </legend>

                    <label for="head_of_household"> Head of household?</label>
                    <input type=checkbox id="head_of_household" name="is_head_of_household"/>
                    <br/>

                    <label for="authorized_rep"> Authorized Representative?</label>
                    <input type=checkbox id="authorized_rep" name="is_authorized_representative"/>
                    <br/>
                </fieldset>

                <fieldset>
                    <legend> Adverse effects </legend>

                    <label for="has_lost_or_inaccessible_income"> Has lost or inaccessible income?</label>
                    <input type=checkbox id="has_lost_or_inaccessible_income" name="has_lost_or_inaccessible_income"/>
                    <br/>

                    <label for="has_inaccessible_liquid_resources"> Has inaccessible liquid resources?</label>
                    <input type=checkbox id="has_inaccessible_liquid_resources" name="has_inaccessible_liquid_resources"/>
                    <br/>

                    <label for="incurred_deductible_disaster_expenses"> Incurred deductible disaster expenses?</label>
                    <input type=checkbox id="incurred_deductible_disaster_expenses" name="incurred_deductible_disaster_expenses"/>
                    <br/>
                </fieldset>

                <fieldset>
                    <legend> Food purchases </legend>

                    <label for="plans_to_purchase_food_during_benefit_period"> Plans to purchase food during benefit_period?</label>
                    <input type=checkbox id="plans_to_purchase_food_during_benefit_period" name="plans_to_purchase_food_during_benefit_period"/>
                    <br/>

                    <label for="purchased_food_during_benefit_period"> Purchased food during benefit period?</label>
                    <input type=checkbox id="purchased_food_during_benefit_period" name="purchased_food_during_benefit_period"/>
                    <br/>
                </fieldset>

                <fieldset>
                    <legend> Residency </legend>

                    <label for="resided_in_disaster_area_at_disaster_time"> Resided in disaster area at disaster time?</label>
                    <input type=checkbox id="resided_in_disaster_area_at_disaster_time" name="resided_in_disaster_area_at_disaster_time"/>
                    <br/>

                    <label for="worked_in_disaster_area_at_disaster_time"> Worked in disaster area at disaster time?</label>
                    <input type=checkbox id="worked_in_disaster_area_at_disaster_time" name="worked_in_disaster_area_at_disaster_time"/>
                    <br/>
                </fieldset>

                <fieldset>
                    <legend> Conflicting USDA programs </legend>

                    <label for="receives_FDPIR_benefits"> Receives FDPIR benefits?</label>
                    <input type=checkbox id="receives_FDPIR_benefits" name="receives_FDPIR_benefits"/>
                    <br/>

                    <label for="receives_TEFAP_food_distribution"> Receives TEFAP food distribution?</label>
                    <input type=checkbox id="receives_TEFAP_food_distribution" name="receives_TEFAP_food_distribution"/>
                    <br/>

                    <label for="receives_SNAP_benefits"> Receives SNAP benefits?</label>
                    <input type=checkbox id="receives_SNAP_benefits" name="receives_SNAP_benefits"/>
                    <br/>

                </fieldset>

                <fieldset>
                    <legend> Income &amp; Expenses </legend>

                    <label for="total_take_home_income"> Total take home income</label>
                    <input type=number id="total_take_home_income" min=0 step=0.01 name="total_take_home_income" />
                    <br/>

                    <label for="accessible_liquid_resources"> Accessible liquid resources</label>
                    <input type=number id="accessible_liquid_resources" min=0 step=0.01 name="accessible_liquid_resources" />
                    <br/>

                    <label for="deductible_disaster_expenses"> Deductible disaster expenses</label>
                    <input type=number id="deductible_disaster_expenses" min=0 step=0.01  name="deductible_disaster_expenses" />
                    <br/>

                    <label for="size_of_household"> Size of household</label>
                    <input type=number id="size_of_household" min=1  name="size_of_household" />
                    <br/>

                </fieldset>

                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />


            </form>
        </div>

        <div class="column"></div>
            <pre id="response"> </pre>
        </div>
    </div>

    <script>
        function isValidElement(element) {
            return element.name && element.value;
        }

        const formToJSON = elements => [].reduce.call(elements, (data, element) => {
            if (isValidElement(element)) {
                if (element.type == "checkbox") {
                    if (element.checked) {
                        data[element.name] = true;
                    } else {
                        data[element.name] = false;
                    }
                } else if (element.type == "number") {
                    data[element.name] = Number(element.value);
                } else {
                    data[element.name] = element.value;
                }
            }
            return data;
        }, {});

        function updateResponse () {
            var pre = document.getElementById('response');
            pre.innerHTML = this.responseText;
        }

        function handleFormSubmit(event) {
            event.preventDefault();

            const form_data = formToJSON(form.elements);

            var request = new XMLHttpRequest();;
            request.onload = updateResponse;
            request.open("POST", form.action);
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(JSON.stringify(form_data));
        }

        const form = document.getElementsByClassName('main-form')[0];
        form.addEventListener('submit', handleFormSubmit);
    </script>
</body>
</html>
