[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
gunicorn = "*"
jsonschema = "==3.0.0"
pytest = "*"
pytest-cov = "*"
"psycopg2" = "*"
django = "*"
dj-database-url = "*"
pytest-django = "*"
whitenoise = "*"
djangorestframework = "*"
factory-boy = "*"
django-cors-headers = "*"

[dev-packages]
ipython = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
