[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
gunicorn = "*"
jsonschema = "*"
pytest = "*"
pytest-cov = "*"
"psycopg2" = "*"
django = "*"
dj-database-url = "*"
pytest-django = "*"
whitenoise = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
